section{
	width:380px;
	float:left;
	padding-left:5px;
	padding-top:0.5em;
	text-align:left;
	padding-right:7px;
    }

section article{
	width:450px;
}
section article h1{	
	
}
#right{
	padding-top:0.5em;
	padding-left:10px;
	width:200px;
	height:500px;
	float: right;
	border-left: 1px solid black;
	}
